<a href="https://colab.research.google.com/github/Iryna-Lytvynchuk/Data_Science/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

fl = pd.read_csv("https://drive.google.com/uc?export=download&id=1JMYqXipZpz9Y5-vyxvLEO2Y1sRBxqu-U")

print(fl)

         N                 Должность Язык.программирования  ... salary Валюта  cls
0        1        Junior QA engineer                   NaN  ...    400    NaN   QA
1        2        Junior QA engineer                   NaN  ...    430    NaN   QA
2        3         Software Engineer               C#/.NET  ...   2500    NaN  DEV
3        4         Software Engineer            JavaScript  ...   2000    NaN  DEV
4        5  Senior Software Engineer            JavaScript  ...   4500    NaN  DEV
...    ...                       ...                   ...  ...    ...    ...  ...
8699  8700               QA engineer                   NaN  ...    700    NaN   QA
8700  8701                 Marketing                   NaN  ...    400    NaN  NaN
8701  8702  Junior Software Engineer            Ruby/Rails  ...    800    NaN  DEV
8702  8703                 Team lead                   NaN  ...   2600    NaN   PM
8703  8704  Senior Software Engineer                  Java  ...   5000    NaN  DEV

[8704 rows x 25 columns]

In [ ]:
print(fl.head(10))

    N                 Должность Язык.программирования  ... salary Валюта  cls
0   1        Junior QA engineer                   NaN  ...    400    NaN   QA
1   2        Junior QA engineer                   NaN  ...    430    NaN   QA
2   3         Software Engineer               C#/.NET  ...   2500    NaN  DEV
3   4         Software Engineer            JavaScript  ...   2000    NaN  DEV
4   5  Senior Software Engineer            JavaScript  ...   4500    NaN  DEV
5   6           Project manager                   NaN  ...    400    NaN   PM
6   7  Junior Software Engineer               C#/.NET  ...    600    NaN  DEV
7   8  Senior Software Engineer                   C++  ...   3300    NaN  DEV
8   9  Junior Software Engineer                  Java  ...    550    NaN  DEV
9  10                  Sysadmin                   NaN  ...    520    NaN  NaN

[10 rows x 25 columns]

In [ ]:
fl.shape

(8704, 25)

In [ ]:
fl.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [ ]:
print(fl
 .isnull()
 .sum()
)

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [ ]:
df = fl.dropna(axis=1)
df['Язык.программирования'] = fl['Язык.программирования']
print(df)

         N                 Должность  ... salary Язык.программирования
0        1        Junior QA engineer  ...    400                   NaN
1        2        Junior QA engineer  ...    430                   NaN
2        3         Software Engineer  ...   2500               C#/.NET
3        4         Software Engineer  ...   2000            JavaScript
4        5  Senior Software Engineer  ...   4500            JavaScript
...    ...                       ...  ...    ...                   ...
8699  8700               QA engineer  ...    700                   NaN
8700  8701                 Marketing  ...    400                   NaN
8701  8702  Junior Software Engineer  ...    800            Ruby/Rails
8702  8703                 Team lead  ...   2600                   NaN
8703  8704  Senior Software Engineer  ...   5000                  Java

[8704 rows x 20 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(df
 .isnull()
 .sum()
)

N                                      0
Должность                              0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Язык.программирования               3850
dtype: int64

In [ ]:
df = df.dropna()
df

         N                 Должность  ... salary Язык.программирования
2        3         Software Engineer  ...   2500               C#/.NET
3        4         Software Engineer  ...   2000            JavaScript
4        5  Senior Software Engineer  ...   4500            JavaScript
6        7  Junior Software Engineer  ...    600               C#/.NET
7        8  Senior Software Engineer  ...   3300                   C++
...    ...                       ...  ...    ...                   ...
8692  8693         Software Engineer  ...   3500                  Java
8694  8695  Junior Software Engineer  ...    550               C#/.NET
8695  8696         Software Engineer  ...   1500                Python
8701  8702  Junior Software Engineer  ...    800            Ruby/Rails
8703  8704  Senior Software Engineer  ...   5000                  Java

[4854 rows x 20 columns]

In [ ]:
df.shape

(4854, 20)

In [ ]:
python_data = df[df["Язык.программирования"].notna() & df["Язык.программирования"].str.contains("Python")]
print(python_data)

         N                 Должность  ... salary Язык.программирования
12      13         Software Engineer  ...    800                Python
68      69         Software Engineer  ...    900                Python
87      88  Junior Software Engineer  ...    600                Python
114    115  Junior Software Engineer  ...    685                Python
143    144  Junior Software Engineer  ...    750                Python
...    ...                       ...  ...    ...                   ...
8546  8547         Software Engineer  ...   2000                Python
8625  8626         Software Engineer  ...   1750                Python
8635  8636  Senior Software Engineer  ...   4000                Python
8673  8674  Junior Software Engineer  ...    350                Python
8695  8696         Software Engineer  ...   1500                Python

[207 rows x 20 columns]

In [ ]:
python_data.shape

(207, 20)

In [ ]:
python_data_new = python_data.groupby(['Должность'])
print(python_data_new)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7feb0c6efb90>

In [ ]:
pf = python_data_new.agg({'Зарплата.в.месяц' : ['min', 'max']})
print(pf)

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

In [ ]:
def fill_avg_salary(position):
  avg = python_data[python_data["Должность"] == position]['Зарплата.в.месяц'].mean()
  return avg
  
python_data["avg"] = python_data.apply(lambda p: fill_avg_salary(p.Должность), axis=1)
python_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         N                 Должность  ... Язык.программирования          avg
12      13         Software Engineer  ...                Python  1799.070000
68      69         Software Engineer  ...                Python  1799.070000
87      88  Junior Software Engineer  ...                Python   560.841270
114    115  Junior Software Engineer  ...                Python   560.841270
143    144  Junior Software Engineer  ...                Python   560.841270
...    ...                       ...  ...                   ...          ...
8546  8547         Software Engineer  ...                Python  1799.070000
8625  8626         Software Engineer  ...                Python  1799.070000
8635  8636  Senior Software Engineer  ...                Python  3387.096774
8673  8674  Junior Software Engineer  ...                Python   560.841270
8695  8696         Software Engineer  ...                Python  1799.070000

[207 rows x 21 columns]

In [ ]:
python_data["avg"].describe()

count     207.000000
mean     1753.937198
std       996.562606
min       560.841270
25%       560.841270
50%      1799.070000
75%      1799.070000
max      4000.000000
Name: avg, dtype: float64

In [ ]:
python_data.to_csv("python_data.csv")